<!DOCTYPE html>

{% extends "_layout.njk"%}


{% block content %}

{% include "_includes/header.njk" %}

  <main class="container is-marginless is-paddingless">
    
      <article class="columns">
        <section class="column is-clipped">
          <img class="is-clipped" src="img/Portfolio3.png" alt="Portfolio">
        </section>
        
        <section class="column is-marginless is-paddingless">
          <h1 class="">{{ site.title }}</h1> 
          <p class="subtitle">UX, WEB and Motion designer</p>
        </section>
        
        
      </article>
    
  </main> 

{% include "_includes/footer.njk" %}

{% endblock %}
  
 
</html>