
  <body>
  
    {% extends "_layout.njk"%}

{% block content %}

  <main class="container">
    
    <article class="content">
    <h1 class="is-large">User Experience</h1>
    <div class="columns">
      <div class="column">
        <h1 class="has-text-centered">Spaced</h1>
        <a href="https://invis.io/52KSVECSYVR#/293939105_SPACED_Home"><img src="img/spaced_landing_page.jpg" alt="Spaced"></a>
        <p>SPACED was a project the derived from a contest to make a webpage for a fake space travel company.<br>
        <a href="https://medium.com/@allanpettigrew1/spaced-test-one-66e74ddd1201">SPACED test one</a><br>
        <a href="https://medium.com/@allanpettigrew1/spaced-test-two-8c7cf517a3a">SPACED test two</a><br>
        <a href="https://medium.com/@allanpettigrew1/spaced-test-three-29685b7781">SPACED test three</a></p>
      </div>
      <div class="column">
        <h1 class="has-text-centered">Stream It</h1>
      </div>
      <div class="column">
        <h1 class="has-text-centered">Grade Guardian</h1>
      </div>  
    </div>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem doloremque cumque dicta, fuga accusantium impedit sint! Corrupti, unde tempora esse beatae fugiat nisi repellendus odit, saepe veniam consequuntur eum debitis.</p>
      
    </article>
    
  </main> 
    
{% endblock %}
  </body>
</html>