<footer class="level-item is-clipped">

<div class="container">
  <div class="columns">
    <div class="column has-text-white">{{ site.email }}</div>
    <div class="column has-text-white">{{ site.phone }}</div>
    <div class="column">
      <img src="img/instagram-icon-good.png" alt="insta">
      <img src="img/facebookwhite_icon.png" alt="facebook">
    </div>
    
  </div>  
</div>
  
</footer>

<canvas width="800" height="0"></canvas>
