<header class="level-item">

  <a href="page.html" class="button is-outlined">UX</a>
  <a href="#" class="button is-outlined">Web</a>
  <a href="#" class="button is-outlined">Motion</a>
  <a href="#" class="button is-outlined">Graphics</a> 
  
</header>

<canvas width="800" height="0"></canvas>
