body {
    background-color: black;
    background-image: url(../assets/brick.png);
}

/*top logo**************************************/

#home {
    display: flex;
    justify-content: center;
}

#home img {
    align-self: center;
    width: 200px;
    margin-top: 20px
}

#grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85vh;
    background-position: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.row img {
    width: 30%;
    margin: 20px;
    align-self: center;
    border: 5px solid #a68847;
}

/*Scroll Bar****************************************/


::-webkit-scrollbar {
    background: ;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #a68847;
    background: #a68847;
    
    
}

::-webkit-scrollbar-track {
    border-radius: 10px
}

::-webkit-scrollbar-track {
    background: black;
}


::-webkit-scrollbar-thumb:hover {
    background: #111;
    

}
