body {
    background-color: black;
    background-image: url(../assets/brick.png);
}


#homebutton {
    color: white;
    background-color: #a68847;
    margin: 20px 0 0 20px;
    width: 80px;
    height: 30px;
    font-size: 1rem;
}

#homebutton:hover {
    color: black;
    background-color: white;
}


/*top logo**************************************/

#home {
    display: flex;
    justify-content: center;
}

#home img {
    align-self: center;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px
}

#grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row img {
    width: 20%;
    align-self: center;
    margin: 20px;
    border: 5px solid #a68847
}

/*Scroll Bar****************************************/


::-webkit-scrollbar {
    background: ;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #a68847;
    background: #a68847;
    
    
}

::-webkit-scrollbar-track {
    border-radius: 10px
}

::-webkit-scrollbar-track {
    background: black;
}


::-webkit-scrollbar-thumb:hover {
    background: #111;
    

}
