html {
  scroll-behavior: smooth;
    max-width: 100%px;
    overflow-x: hidden;
}

body {
    background-image: url(../assets/brick.png);
    background-position: center;
    max-width: 100%;
    background-color: black;
}

a {
    font-family: 'Ubuntu', sans-serif;
}

a:hover {
    color: white;
}

/*top logo**************************************/

#home {
    display: flex;
    justify-content: center;
}

#home img {
    align-self: center;
    width: 200px;
    margin-top: 20px
}

#homebutton {
    color: white;
    background-color: #a68847;
    margin: 20px 0 0 20px;
    width: 80px;
    height: 30px;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

#homebutton:hover {
    color: black;
    background-color: white;
}

/*screens****************************************/

a {
    text-decoration: none;
    color: #a68847;
}

#screens {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
}

.mobile img{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 5px solid #a68847;
    background-color: #a68847;
    border-radius: 40px
    
}

.monitor img {
    display: flex;
    margin: 0 auto;
    border: 5px solid #a68847;
    background-color: #a68847;
}


#spacedm:hover, #spaced:hover, #streamit:hover {
    border: 5px solid white;
}

#spacedm, #spaced, #streamit {
   width: 80%;
}


.extra {
    text-decoration: underline;
    text-align: center;
    margin-top: ;
}

#tests {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

#none {
    opacity: 0;
}
/*Scroll Bar****************************************/


::-webkit-scrollbar {
    background: ;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #a68847;
    background: #a68847;
    
    
}

::-webkit-scrollbar-track {
    border-radius: 10px
}

::-webkit-scrollbar-track {
    background: black;
}


::-webkit-scrollbar-thumb:hover {
    background: #111;
    

}

